ion-content.background {
  --background: url(../../../assets/img/qrandroid.jpg) 60% 50px no-repeat;
}
#change1 {
  margin-top: 250px;
  text-align: center;
}
.boton1 {
  font-size: 10px;
}
.titulo {
  text-align: center;
}
.logoduoc {
  text-align: center;
}
.logoduoc {
  text-align: center;
}
