ion-content.background {
  --background: url(../../../assets/img/administracion-recursos-humanos.jpeg) 0/100%
    100% no-repeat;
}

#change1 {
  margin-top: 180px;
  text-align: center;
}
.boton1 {
  font-size: 12px;
  margin-top: 20px;
}
.boton2 {
  font-size: 12px;
  margin-top: 20px;
}
.boton3 {
  font-size: 12px;
  margin-top: 20px;
}
.boton4 {
  font-size: 12px;
  margin-top: 20px;
}

.titulo {
  text-align: center;
}
.logoduoc {
  text-align: center;
}
