ion-content.background {
  --background: url(../../../assets/img/menu3.3.png) 0/100% 100% no-repeat;
}
#change1 {
  margin-top: px;
  text-align: center;
}
.boton1 {
  font-size: 10px;
  margin-top: 20px;
}
.titulo {
  text-align: center;
}
.logoduoc {
  text-align: center;
}
